<h1>Gamematch</h1>
<h3>enter your steamID</h3>
<form action="/id-submission" method="post">
    <input type="text" name="steamID" placeholder="steamID">
    <input type="submit" value="Send">
</form>
<h3>or</h3>