<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>

        <%- include('../partials/steamid') %>
        

        <a href="https://store.steampowered.com/login/">
            <img src="../static/img/steamimg.jpg" id="steamimg" alt="">
        </a>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>