<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <h1>Gamematch</h1>
        <h3>Login</h3>
        <%= message %>
        <form action="/login" method="POST">
            <label>
                Your SteamID
                <input type="text" name="id" placeholder="steamID">
                <br>
                What genre game do you play the most?
                <select name="gameGenre" id="gameSelect">
                    <option>Select a genre</option>
                    <option value="MMORPG">MMORPG</option>
                    <option value="ARPG">ARPG</option>
                    <option value="FPS">FPS</option>
                    <option value="Sports">Sports</option>
                    <option value="MOBA">MOBA</option>
                    <option value="RTS">RTS</option>
                </select>
            </label>
            <br>
            <input type="submit" value="Log in">
        </form>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>


</html>